<div id="<%= dom_id participant %>">
  <p>
    <strong>Name:</strong>
    <%= participant.name %>
  </p>

  <p>
    <strong>Trip:</strong>
    <%= participant.trip_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= participant.user_id %>
  </p>

</div>
