<footer>
  <div class="container">
    <p>© 2025 Shaileshh Bojja Venkatakrishnan | The Ohio State University</p>
    <div class="social-links">
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="#" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://scholar.google.com/citations?user=9wLpwbsAAAAJ&hl=en" target="_blank"><i class="fas fa-graduation-cap"></i></a>
    </div>
  </div>
</footer>
