
<div class="user-details-card">
<div class="user-detail-item">
  <span class="label">User ID:</span>
  <span class="value"><%= user.id %></span>
</div>
<div class="user-detail-item">
  <span class="label">Name:</span>
  <span class="value"><%= user.name %></span>
</div>
<div class="user-detail-item">
  <span class="label">Email:</span>
  <span class="value"><%= user.email %></span>
</div>
</div>

