<% content_for :title, "New user" %>

<div class="users-container">
  <div class="users-header">
    <h1>New user</h1>
  </div>

  <%= render "form", user: @user %>

  <div class="form-nav">
    <%= link_to "Back to users", users_path, class: "btn-back" %>
  </div>
</div>