<h1>Editing Payment</h1>

<%= render "form", payment: @payment %>

<div class="actions mt-3">
  <%= link_to "Show Payment", trip_payment_path(@trip, @payment), class: "btn btn-info" %>
  <%= link_to "Back to Payments", trip_payments_path(@trip), class: "btn btn-secondary" %>
</div>