<% content_for :title, "New trip" %>

<div class="trips-container">
  <div class="trips-header">
    <h1>New trip</h1>
  </div>

  <%= render "form", trip: @trip %>

  <div class="form-nav">
    <%= link_to "Back to trips", trips_path, class: "btn-back" %>
  </div>
</div>